<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.future.dao.ExpenditureRecordDao">

	<resultMap id="BaseResultMap" type="com.future.domain.ExpenditureRecord">
		<id column="er_id" property="er_id" jdbcType="INTEGER" />
		<result column="er_date" property="er_date" jdbcType="DATE" />
		<result column="er_money" property="er_money" jdbcType="DOUBLE" />
		<result column="er_accour_repour" property="er_accour_repour" jdbcType="VARCHAR" />
		<result column="er_redundancy" property="er_redundancy" jdbcType="VARCHAR" />
	</resultMap>
    <resultMap id="ExpenseRecordMap" type="com.future.domain.ExpenditureRecord">
        <id column="er_id" property="er_id"></id>
        <result column="er_date" property="er_date"></result>
        <result column="er_money" property="er_money"></result>
        <result column="er_accour_repour" property="er_accour_repour"></result>
        <association property="er_user" javaType="com.future.domain.User">
            <id property="user_id" column="user_id"></id>
            <result property="user_name" column="user_name"></result>
        </association>
        <association property="er_union" javaType="com.future.domain.Union">
            <id property="un_id" column="un_id"></id>
            <result property="un_name" column="un_name"></result>
        </association>
        <association property="er_entry" javaType="com.future.domain.Entry">
            <id property="en_id" column="en_id"></id>
            <result property="en_name" column="en_name"></result>
        </association>
    </resultMap>


	<resultMap id="ExpendListMap" type="com.future.domain.ExpenditureRecord" extends="BaseResultMap">
		<association property="er_user" javaType="com.future.domain.User">
			<id property="user_id" column="user_id"></id>
			<result property="user_name" column="user_name"></result>
		</association>
		<association property="er_union" javaType="com.future.domain.Union">
			<id property="un_id" column="un_id"></id>
			<result property="un_name" column="un_name"></result>
		</association>
		<association property="er_entry" javaType="com.future.domain.Entry">
			<id property="en_id" column="en_id"></id>
			<result property="en_name" column="en_name"></result>
		</association>
	</resultMap>


	<!--
		查询该公会 花费的记录条数
	-->
	<select id="meQueryExpenseRecordCount" resultType="java.lang.Integer">
	select count(*)
	from uf_expenditurerecord
	LEFT OUTER JOIN uf_union on uf_expenditurerecord.er_union_id = uf_union.un_id
	LEFT OUTER JOIN uf_user on uf_expenditurerecord.er_user_id = uf_user.user_id
	LEFT OUTER JOIN uf_entry on uf_expenditurerecord.er_entry_id = uf_entry.en_id
	WHERE 1=1
	<if test="unionId != null">
	AND er_union_id = #{unionId}
	</if>
	<if test="startDate != endDate">
		AND er_date BETWEEN #{startDate} AND #{endDate}
	</if>
	<if test="entryId!=null">
		AND er_entry_id = #{entryId}
	</if>
</select>

	<select id="queryExpenseRecord" resultMap="ExpenseRecordMap">
		select er_id, er_date, er_money,er_accour_repour,
        user_id,user_name,un_id, un_name,en_id,en_name
		from uf_expenditurerecord
		LEFT OUTER JOIN uf_union on uf_expenditurerecord.er_union_id = uf_union.un_id
		LEFT OUTER JOIN uf_user on uf_expenditurerecord.er_user_id = uf_user.user_id
		LEFT OUTER JOIN uf_entry on uf_expenditurerecord.er_entry_id = uf_entry.en_id
		WHERE 1=1
		and er_union_id = #{unionId}
		<if test="startDate != endDate">
			AND er_date BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test="entryId!=null">
			AND er_entry_id = #{entryId}
		</if>
        ORDER BY er_date DESC
        limit #{page.beginRecordIndex},#{page.pageSize}
    </select>



    <!-- 计算某工会的 总花费-->
    <select id="countAllExpense" resultType="int">
        select sum(er_money)
        from uf_expenditurerecord
        WHERE 1=1
        and er_union_id = #{unionId}
    </select>





	<insert id="insert" parameterType="com.future.domain.ExpenditureRecord">
		INSERT INTO uf_expenditurerecord VALUES (null,#{er_date},#{er_entry.en_id},#{er_money},#{er_user.user_id},#{er_accour_repour},#{er_redundancy},#{er_union.un_id})
	</insert>



	<!--* 分页查询支出记录-->
	<select id="getAllExpendList" parameterType="com.future.utils.PageBean" resultMap="ExpendListMap">
		select expend.*,un.*,user.*,uf_entry.* from uf_expenditurerecord expend JOIN uf_union un on expend.er_union_id = un.un_id
		JOIN uf_user user on expend.er_user_id = user.user_id JOIN uf_entry on expend.er_entry_id = uf_entry.en_id
		order by expend.er_date desc
		limit #{0},#{1}
	</select>


	<!--* 查询支出总记录数量-->
	<select id="getAllExpendListNum" resultType="int">
		select count(*) from uf_expenditurerecord
	</select>

	<!--* 查询支出总金额-->
	<select id="getAllExpendSumMoney" resultType="java.lang.Double">
		select sum(expend.er_money) from uf_expenditurerecord expend
	</select>


	<!--* 支出记录条件查询 where expend.er_union_id=#{4} and expend.er_entry_id=#{5}  and expend.er_date between #{2} and #{3}-->
	<select id="getConditionExpendRecord" resultMap="ExpendListMap">
		select expend.*,un.*,user.*,uf_entry.* from uf_expenditurerecord expend JOIN uf_union un on expend.er_union_id = un.un_id
		JOIN uf_user user on expend.er_user_id = user.user_id JOIN uf_entry on expend.er_entry_id = uf_entry.en_id
		<where>
			<if test="un_id != 0">
				expend.er_union_id=#{un_id}
			</if>
			<if test="en_id != 0">
				and expend.er_entry_id=#{en_id}
			</if>
			<if test="date3 != ''">
				and expend.er_date <![CDATA[>=]]> #{date3}
			</if>
			<if test="date4 != ''" >
				and expend.er_date <![CDATA[<=]]> #{date4}
			</if>
			<if test="date3 != '' and date4 !='' ">
				and expend.er_date between #{date3} and #{date4}
			</if>
		</where>
		order by expend.er_date desc
		limit #{a},#{b}
	</select>

	<!--* 支出记录条件查询==>计算总记录数量-->
	<select id="getConditionExpendCount" resultType="int">
		select count(*) from uf_expenditurerecord expend
		<where>
			<if test="un_id != 0">
				expend.er_union_id=#{un_id}
			</if>
			<if test="en_id != 0">
				and expend.er_entry_id=#{en_id}
			</if>
			<if test="date3 != ''">
				and expend.er_date <![CDATA[>=]]> #{date3}
			</if>
			<if test="date4 != ''" >
				and expend.er_date <![CDATA[<=]]> #{date4}
			</if>
			<if test="date3 != '' and date4 !='' ">
				and expend.er_date between #{date3} and #{date4}
			</if>
		</where>
	</select>

	<!--* 支出记录条件查询==>计算总金额-->
	<select id="getConditionExpendSumMoney" resultType="java.lang.Double">
		select sum(expend.er_money) from uf_expenditurerecord expend
		<where>
			<if test="un_id != 0">
				expend.er_union_id=#{un_id}
			</if>
			<if test="en_id != 0">
				and expend.er_entry_id=#{en_id}
			</if>
			<if test="date3 != ''">
				and expend.er_date <![CDATA[>=]]> #{date3}
			</if>
			<if test="date4 != ''" >
				and expend.er_date <![CDATA[<=]]> #{date4}
			</if>
			<if test="date3 != '' and date4 !='' ">
				and expend.er_date between #{date3} and #{date4}
			</if>
		</where>
	</select>

	<select id="sumExMoney" parameterType="int" resultType="double">
		SELECT SUM(er_money) FROM uf_expenditurerecord WHERE er_union_id =#{id}
	</select>

</mapper>