<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.future.dao.IncomeRecordDao">
	<resultMap id="BaseResultMap" type="com.future.domain.IncomeRecord">
		<id column="ir_id" property="ir_id" jdbcType="INTEGER" />
		<result column="ir_date" property="ir_date" jdbcType="DATE" />
		<result column="ir_money" property="ir_money" jdbcType="DOUBLE" />
		
	</resultMap>

	<insert id="add" parameterType="IncomeRecord">
		  INSERT  INTO uf_incomerecord(ir_date,ir_entry_id,ir_money,ir_user_id,ir_union_id,ir_redundancy)
		  VALUES (#{ir_date},#{ir_entry.en_id},#{ir_money},#{ir_user.user_id},#{ir_union.un_id},#{ir_redundancy})
	</insert>
</mapper>