<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.future.dao.IncomeRecordDao">

    <resultMap id="BaseResultMap" type="com.future.domain.IncomeRecord">
        <id column="ir_id" property="ir_id" jdbcType="INTEGER" />
        <result column="ir_date" property="ir_date" jdbcType="DATE" />
        <result column="ir_money" property="ir_money" jdbcType="DOUBLE" />
    </resultMap>

    <resultMap id="IncomeRecordMap" type="com.future.domain.IncomeRecord">

        <id property="ir_id" column="ir_id"></id>
        <result property="ir_date" column="ir_date"></result>
        <result property="ir_money" column="ir_money"></result>
        <result property="ir_redundancy" column="ir_redundancy"></result>

        <association property="ir_user" javaType="com.future.domain.User">
            <id property="user_id" column="user_id"></id>
            <result property="user_name" column="user_name"></result>
        </association>
        <association property="ir_union" javaType="com.future.domain.Union">
            <id property="un_id" column="un_id"></id>
            <result property="un_name" column="un_name"></result>
        </association>
        <association property="ir_entry" javaType="com.future.domain.Entry">
            <id property="en_id" column="en_id"></id>
            <result property="en_name" column="en_name"></result>
        </association>
    </resultMap>

    <!--
    <insert id="add" parameterType="IncomeRecord">
        INSERT  INTO uf_incomerecord(ir_date,ir_entry_id,ir_money,ir_user_id) VALUES (#{ir_date},#{ir_entry.en_id},#{ir_money},#{ir_user.user_id})
    </insert>
    -->

    <select id="queryIncomeRecordsCount" resultType="int">
        select count(*)
        from uf_incomerecord
        LEFT OUTER JOIN uf_union on uf_incomerecord.ir_union_id = uf_union.un_id
        LEFT OUTER JOIN uf_user on uf_incomerecord.ir_user_id = uf_user.user_id
        LEFT OUTER JOIN uf_entry on uf_incomerecord.ir_entry_id = uf_entry.en_id
        WHERE 1=1
        <if test="startDate != endDate">
            AND ir_date BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="entryId != null">
            AND ir_entry_id = #{entryId}
        </if>
    </select>

    <!-- 计算 某个公会的总的收入 -->
    <select id="countAllIncome" resultType="int">
        select sum(ir_money)
        from uf_incomerecord
        WHERE 1=1
    </select>

    <select id="queryIncomeRecords" resultMap="IncomeRecordMap">
        select ir_id,ir_date,ir_money,
        user_id,user_name,un_id, un_name,en_id,en_name
        from uf_incomerecord
        LEFT OUTER JOIN uf_union on uf_incomerecord.ir_union_id = uf_union.un_id
        LEFT OUTER JOIN uf_user on uf_incomerecord.ir_user_id = uf_user.user_id
        LEFT OUTER JOIN uf_entry on uf_incomerecord.ir_entry_id = uf_entry.en_id
        WHERE 1=1
        <if test="startDate != endDate">
            AND ir_date BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="entryId!=null">
            AND ir_entry_id = #{entryId}
        </if>
        ORDER BY ir_date DESC
        limit #{page.beginRecordIndex},#{page.pageSize}
    </select>



    <insert id="add" parameterType="IncomeRecord">
        INSERT  INTO uf_incomerecord(ir_date,ir_entry_id,ir_money,ir_user_id,ir_union_id,ir_redundancy)
        VALUES (#{ir_date},#{ir_entry.en_id},#{ir_money},#{ir_user.user_id},#{ir_union.un_id},#{ir_redundancy})
    </insert>


    <!--* 查询所有拨款记录-->
    <select id="getAllIncomeRecord" resultMap="IncomeRecordMap">
        select incomer.*,un.*,user.*,uf_entry.* from uf_incomerecord incomer JOIN uf_union un on incomer.ir_union_id = un.un_id
        JOIN uf_user user on incomer.ir_user_id = user.user_id JOIN uf_entry on incomer.ir_entry_id = uf_entry.en_id
        limit #{0},#{1}
  </select>

    <!--* 查询所有拨款记录得数量-->
    <select id="getAllIncomeRecordCount" resultType="int">
      select count(*) from uf_incomerecord
    </select>


    <!--* 查询所有拨款的金额-->
    <select id="getAllincomeSumMonsy" resultType="java.lang.Double">
      select sum(incomer.ir_money) from uf_incomerecord incomer
    </select>

    <!--* 条件查询所有拨款记录-->
    <select id="getConditionIncomeRecord" resultMap="IncomeRecordMap">
      select incomer.*,un.*,user.*,uf_entry.* from uf_incomerecord incomer JOIN uf_union un on incomer.ir_union_id = un.un_id
        JOIN uf_user user on incomer.ir_user_id = user.user_id JOIN uf_entry on incomer.ir_entry_id = uf_entry.en_id
        <where>
            <if test="un_id != 0">
                incomer.ir_union_id=#{un_id}
            </if>
            <if test="en_id != 0">
                and incomer.ir_entry_id=#{en_id}
            </if>
            <if test="date3 != ''">
                and incomer.ir_date <![CDATA[>=]]> #{date3}
            </if>
            <if test="date4 != ''" >
                and incomer.ir_date <![CDATA[<=]]> #{date4}
            </if>
            <if test="date3 != '' and date4 !='' ">
                and incomer.ir_date between #{date3} and #{date4}
            </if>
        </where>
        limit #{a},#{b}
    </select>

    <!--* 条件查询所有拨款记录总条数-->
    <select id="getConditionIncomeRecordCount" resultType="int">
        select count(*) from uf_incomerecord incomer
        <where>
            <if test="un_id != 0">
                incomer.ir_union_id=#{un_id}
            </if>
            <if test="en_id != 0">
                and incomer.ir_entry_id=#{en_id}
            </if>
            <if test="date3 != ''">
                and incomer.ir_date <![CDATA[>=]]> #{date3}
            </if>
            <if test="date4 != ''" >
                and incomer.ir_date <![CDATA[<=]]> #{date4}
            </if>
            <if test="date3 != '' and date4 !='' ">
                and incomer.ir_date between #{date3} and #{date4}
            </if>
        </where>
    </select>

    <!--* 条件查询金额-->
    <select id="getConditionIncomeRecordSumMoney" resultType="java.lang.Double">
      select sum(incomer.ir_money) from uf_incomerecord incomer
        <where>
            <if test="un_id != 0">
                incomer.ir_union_id=#{un_id}
            </if>
            <if test="en_id != 0">
                and incomer.ir_entry_id=#{en_id}
            </if>
            <if test="date3 != ''">
                and incomer.ir_date <![CDATA[>=]]> #{date3}
            </if>
            <if test="date4 != ''" >
                and incomer.ir_date <![CDATA[<=]]> #{date4}
            </if>
            <if test="date3 != '' and date4 !='' ">
                and incomer.ir_date between #{date3} and #{date4}
            </if>
        </where>
    </select>

</mapper>