<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.future.dao.UnionDao">
	<resultMap id="BaseResultMap" type="com.future.domain.Union">
		<id column="un_id" property="un_id" jdbcType="INTEGER" />
		<result column="un_name" property="un_name" jdbcType="VARCHAR" />
		<result column="un_redundancy" property="un_redundancy" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="add" parameterType="Union">
		INSERT INTO uf_union(un_name) VALUES (#{un_name})
	</insert>

	<delete id="deleteById" parameterType="int">
		DELETE FROM uf_union WHERE un_id = #{id}
	</delete>

	<update id="update" parameterType="Union">
		UPDATE uf_union SET un_name = #{un_name} WHERE un_id = #{un_id}
	</update>

	<select id="findAllOrByid" parameterType="int">
		<if test="id != null">
			SELECT * FROM uf_union WHERE un_id = #{id}
		</if>

		<if test="id == null">
			SELECT * FROM uf_union WHERE
		</if>
	</select>


</mapper>