<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.future.dao.UserDao">
	<resultMap id="BaseResultMap" type="com.future.domain.User">
		<id column="user_id" property="user_id" jdbcType="INTEGER" />
		<result column="user_num" property="user_num" jdbcType="VARCHAR" />
		<result column="user_password" property="user_password" jdbcType="VARCHAR" />
		<result column="user_phonenumber" property="user_phonenumber" jdbcType="VARCHAR" />
		<result column="user_name" property="user_name" jdbcType="VARCHAR" />
		<result column="user_redundancy" property="user_redundancy" jdbcType="VARCHAR" />
		<result column="user_type" property="user_type" jdbcType="INTEGER" />
	</resultMap>

	<resultMap id="findAllAndUnion" extends="BaseResultMap" type="com.future.domain.User">
		<association property="user_union" javaType="Union">
				<id column="un_id" property="un_id"></id>
				<result column="un_name" property="un_name"></result>
		</association>
	</resultMap>
	<sql id="Base_Column_List">
	    user_id,user_name,user_num,user_password,user_phonenumber,user_redundancy,user_type
	</sql>
	
	<select id="findUserById" parameterType="int" resultMap="findAllAndUnion">
	    SELECT * FROM uf_user us  left join uf_union un on us.user_union_id = un.un_id
	    WHERE us.user_id = #{id}
	</select>

	<select id="findAll" resultMap="findAllAndUnion">
		SELECT * FROM uf_user us  left join uf_union un on us.user_union_id = un.un_id
	</select>

	<insert id="add" parameterType="User">
		INSERT INTO uf_user(user_num,user_password,user_phonenumber,user_union_id,user_type,user_redundancy,user_name)
		VALUES (#{user_num},#{user_password},#{user_phonenumber},#{user_union.un_id},#{user_type},#{user_redundancy},#{user_name})
	</insert>

	<update id="update" parameterType="User">
		UPDATE uf_user SET  user_num = #{user_num},user_password = #{user_password},user_phonenumber = #{user_phonenumber}
		,user_union_id  = #{user_union.un_id},user_type = #{user_type},user_redundancy = #{user_redundancy},user_name = #{user_name}
		WHERE user_id = #{user_id}
	</update>

	<delete id="deleteById" parameterType="int">
		DELETE  FROM uf_user WHERE user_id = #{id}
	</delete>

</mapper>